<h2>Birthdays</h2>
<div>
  <ul>
    <li>
      <h4><a href="/upload">Upload Bdays</a></h4>
    </li>
  </ul>
</div>
<div ng-repeat="bday in bdays">

  <h4>
    <img ng-src="images/{{bday.imageName}}" width="75px" height="75px" class="pull-left" ng-if="bday.imageName">
    <img ng-src="images/default.jpg" width="75px" height="75px" class="pull-left" ng-if="!bday.imageName">
    &nbsp;&nbsp;&nbsp;{{bday.name}} on {{bday.day}}/{{bday.month}} <a href="/bday/edit/{{bday.id}}"><span class="glyphicon glyphicon-edit"></span></a> <a href="/bday/destroy/{{bday.id}}"><span class="glyphicon glyphicon-remove red"></span></a>
  </h4>
  <div style="clear:both;"></div>
  </br>
</div>
