<h2>Edit Bday</h2>
<form method="post" action="/bday/update">
  <div class="input-group">
    <label>Name: </label>
    <input type="text" name="name" value="<%= bday.name %>" class="form-control"><br><br>
    <label>Day: </label>
    <input type="text" name="day" value="<%= bday.day %>"  class="form-control"><br><br>
    <label>Month: </label>
    <input type="text" name="month" value="<%= bday.month %>"  class="form-control"><br><br>
    <input type="hidden" name="id" value="<%= bday.id %>"><br>
  </div>  
  <input type="submit" value="Submit" class="btn btn-primary">
</form> 
