Upload Bday list
<p>Select a CSV File to Load : </p>
<form method="post" enctype="multipart/form-data" action="/uploadFile">
  <input type="file" name="testFile">
  <input type="submit" value="Submit">
</form> 
