<h2>Upload Bday list</h2>
<form method="post" enctype="multipart/form-data" action="/uploadFile">
  <div class="input-group">
  <label>Select a CSV file: </label>
  <input type="file" name="testFile" class="form-control">
  </div><br>
  <input type="submit" value="Submit" class="btn btn-primary">
</form> 
